.container{style: "margin-top: 60px", :"ng-controller" => "AppCtrl" }

	%h3.text-center In order to use this app you must sign up for a <a href='https://www.twilio.com/try-twilio'> free Twilio account </a>

	%btn.btn.btn-default.center-block{:"ng-click" => "getLocation(); showMap = true", style: "width: 130px"} Get my location

	#map.center-block{:"ng-show" => "showMap", style: "height: 350px; width: 350px" }

	.row
		%form.form-group{:"ng-submit" => "fromLocation && toLocation && findJourneys()"}
			%label Get me the last times from
			%input.form-control.text-center{:"ng-model" => "fromLocation"}

			%label to
			%input.form-control.text-center{:"ng-model" => "toLocation"}

			%label your Twilio-registered phone number
			%input.form-control.text-center{:"ng-model" => "phoneNumber"}

			%button.btn.btn-default.center-block{style: "margin-top: 30px"} Go!
	

	.panel.panel-default{:"ng-repeat" => "journey in lastJourneys.journeys", :"ng-controller" => "JourneyInstanceCtrl"}
		.panel-heading 
			%h3.panel-title 
				%a{href: '#', :"ng-click" => "selectJourney(journey)"} Duration: {{journey.duration}} minutes - {{journey.startDateTime | date: 'short'}} to {{journey.arrivalDateTime | date: 'short'}}

		.panel-body 
			%p{:"ng-repeat" => "leg in journey.legs"} {{leg.instruction.summary}}
			%form.form-group{:"ng-show" => "showOptions", :"ng-submit" => "phoneNumber && sendToTwilio()"}
				.input-group
					%span
						%input{type: 'checkbox', :"ng-model" => "whenSend", :"ng-true-value" => "now"}
					%label Send text now?
				.input-group
					%span
						%input{type: 'checkbox', :"ng-model" => "whenSend", :"ng-true-value" => "then"}
					%label Send text an hour before departure?

				
				%button.btn.btn-default Choose this journey.

			.confirmation{:"ng-show" => "success"}

				%p If you are registered with Twilio, a text has been sent to {{phoneNumber}}, with the instructions:

				%blockquote	Remember to leave at {{startDateTime | date: 'h:mma'}}. {{instructions}}

	


