<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/TestCtrl.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Last Train</h1>
      </ion-header-bar>
      <ion-content ng-controller="TestCtrl">
      <!-- {{lastJourneys}} -->

      <div class="list list-inset">
          
        <label class="item item-input">
          <input type="text" 
          placeholder="Take me from here"
          ng-model="fromLocation">
        </label>

        <label class="item item-input">
          <input type="text" 
          placeholder="to here"
          ng-model="toLocation">
        </label>

        <label class="item item-input">
          <input type="text" 
          placeholder="Enter your Twilio registered phone number"
          ng-model="phoneNumber">
        </label>

        <button class="button button-positive center" ng-click="toLocation && fromLocation && findJourneys()">
          Go!
        </button>

      </div>

      <ul class="list" ng-show="lastJourneys">
        
        <li class="item" 
        ng-repeat="journey in lastJourneys"
        ng-controller="JourneyInstanceCtrl"
        >
          <ion-slide-box show-pager="false">
            <ion-slide>
                Duration: {{journey.duration}} minutes - {{journey.startDateTime | date: 'h:mma'}} to {{journey.arrivalDateTime | date: 'h:mma'}}
                <br>
                <br>
                <p ng-repeat="description in journey.summary">
                  {{description.text}}
                </p>
            </ion-slide>


            <ion-slide class="list">
              <label class="item item-radio"  ng-click="whenSend = 'now'">
                <input type="radio" name="group">
                <div class="item-content">
                  Send text now?
                </div>
                <i class="radio-icon ion-checkmark"></i>
             </label>

            <label class="item item-radio" ng-click="whenSend = 'then'">
                <input type="radio" name="group">

                <div class="item-content">
                  Send text an hour before departure?
                </div>
                <i class="radio-icon ion-checkmark"></i>
             </label>



             <button class="button button-positive center" ng-click="phoneNumber && selectJourney(journey) ; sendToTwilio()" ng-hide="success">
              Choose this journey
              </button>

              <div ng-show="success">
                <p> If you are registered with Twilio, a text has been sent to {{phoneNumber}}, with the instructions:</p>
                <blockquote> 
                  Remember to leave at {{journey.startDateTime | date: 'h:mma'}}. {{instructions}}
                </blockquote>
              </div>

            </ion-slide>

          </ion-slide-box>

        </li>

      </ul>      



      </ion-content>
    </ion-pane>
  </body>
</html>
